# ignore build dir
build/

# ignore executables
*.pl0
*.tab

.vscode/*
# !.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix


# yacc/flex specific
*.tab.c
*.tab.h
*.lex.c
*.lex.h
*.yy.c
*.yy.h
prog*
